/*---------Styles Appling to Entire Site---------*/

header {
	background: gray;

}

body {
 	background-color:
 	color:
}

li {
	display: inline;
}


/*---------index.html Specific Styles---------*/



/*---------portfolio.html Specific Styles---------*/


/*---------contact.html Specific Styles---------*/



