/*---------Styles Appling to Entire Site---------*/

header {
	background: black;
	margin: 0 auto;
	padding: 20px;
	border-bottom: 3px solid;
	border-color: #A6A6A6;
}

/*
.nav {
	float: right;
	margin-right: 90px;
}
*/

body {
 	background-color: white;
 	font-family: 'Rubik', sans-serif;
}

li {
	display: inline;
}

aside {
	background-color: white;
	width: 270px;
	float: right;
	margin-right: 45px;
	margin-top: 35px; 
	text-align: center;
}

.me {
	position: fixed;
	background-color: white;
	top: 0px;
	left:0px;
	right: 0px;

}

#p1::first-letter {
  font-size: 200%;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
  	padding: 20px;
  	background-color: black;
  	text-align: center;
  	color: white;
}

/*---------Applies to unvisited links---------*/
a:link    {
  text-decoration: none;
 } 
/*---------Applies to visited links---------*/
a:visited {
  text-decoration: none;
  color: white;
 } 
/*---------Applies to links when pointer is over them---------*/
a:hover   {
  text-decoration: none;
  color: #A6A6A6;
 } 
/*---------Applies to links after being clicked on---------*/
a:active  {
  text-decoration: none;
 } 


/*---------index.html Specific Styles---------*/
.headshot {
	float: left;
	margin: 20px;
}

.aboutme {
	background-color: white;
	position: absolute;
	top: 150px;
	left: 25px;
	width: 650px;
	padding: 20px;
	height: 600px;
}


/*---------portfolio.html Specific Styles---------*/

.cables, .docks, .ipadcases, .iphonecases, .luxurytech, .powerblock {
	display: inline;
}

tr {
	width: 100%
}

td {
	position: relative;
	display: center;
	padding: 10px;
}

table {
	margin: 0 auto;
}

/*---------contact.html Specific Styles---------*/

.contact {
	background-color: white;
	position: absolute;
	top: 150px;
	left: 25px;
	width: 650px;
	padding: 20px;
	height: 600px;
}

.form {
	top: 150px;
	left: 25px;
	width: 650px;
	padding: 20px;
	height: 600px;
}

